# General haskell files
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# OSX stuff
*/.DS_Store
.DS_Store

# Pages version of report
Report.pages

# Executable files
sorting1
sorting2
sorting3
